VITE_SUPABASE_URL=https://rgkekynbscgbrayzbydi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJna2VreW5ic2NnYnJheXpieWRpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDA1NzY2NDMsImV4cCI6MjA1NjE1MjY0M30.aWvN7_VgVY1gL1k3vqxhJXPEIiZlMnKY8Foz-hKZvJo
